img {
    height: 100px;
    width: 100px;
}

.headings {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

input {
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    width: 5rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

button:hover {
    background-color: wheat;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    padding-top: 10px;
}

a:hover {
    color: wheat;
}
